/*Here lies CSS*/

h2, p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

/* welcome section */

#welcome {
    height: 100vh;
    width: 100vw; 
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#videoOverlay {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: white;
    position: absolute;
}

#videoDiv {
   width: 100%;
   top: 0px;
}

#harnessing {
    position: absolute;
    z-index: 1;
}

.title {
    font-size: 50px;
}

.infoDiv {
    position: absolute;
    width: 20%;
    height: 45%;
    top: 30%;
    left: 10%;
    text-align: left;
    background-color: black;
}

/*section 1 styling*/

#section-1 {
    height: 100vh;
    width: 100vw;
}

#section1Bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

#section2Bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

#section2Bg-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 5s ease-in; 
}

#section2Bg-1.scroll-anim {
    opacity: .6;
}

#secondaryImageDiv-s1 {
    position: absolute;
    bottom: 7%;
    right: 5%;
    width: 25%;
    z-index: 1;
    background-color: white;
    padding: .5%;
}

#secondaryImage-s1 {
    width: 100%;
    height: 100%;
}

#S2info-t {
    font-size: 70px;
    position: absolute;
    z-index: 2;
    margin-top: 8%;
    margin-left: 30%;
}

#S2info {
    position: absolute;
    width: 100%;
    height: 50%;
    right: 0%;
}

#S2info-p {
    right: 10%;
    position: absolute;
    z-index: 1;
    font-size: 15px;
    text-align: center;
    margin-top: 10%;
}

#S2btn-1 {
    width: 20px;
    height: 20px;
    background-color: orange;
    left: 20%;
    bottom: 41%;
    position: absolute;
    border-radius: 50%;
}

#S2btn-1:hover {
    background-color: white;
}

#secondaryImageDiv-s2 {
    position: absolute;
    top: 10%;
    right: 30%;
    width: 21%;
    z-index: 1;
    background-color: white;
    padding: .3%;
}

#secondaryImage-s2 {
    width: 100%;
    height: 100%;
}

#section-2 {
    height: 100vh;
    width: 100vw;
}

#section-3 {
    height: 100vh;
    width: 100vw;
}


#section-4 {
    height: 100vh;
    width: 100vw;
}