/*Here lies CSS*/
html {
    scroll-behavior: smooth;
  }

h2, p {
    font-family: 'Nunito Sans', sans-serif;
    color: #303030;
}

/* welcome section */

#welcome {
    height: 100vh;
    width: 100vw; 
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#videoOverlay {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: white;
    position: absolute;
}

#videoDiv {
   width: 100%;
   top: 0px;
}

#welcomeBanner {
    position: absolute;
    height: 35vh;
    width: 100vw;
    background-color: white;
    opacity: .5;
}

#harnessing {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    top: 42vh;
}

#harnessing-2 {
    font-size: 25px;
    position: absolute;
    z-index: 1;
    top: 53.5vh;
}


#discover {
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 50%;
    bottom: 8vh;
    position: absolute;
    z-index: 2;
    padding: .6%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    width: 5vw;
    height: 5vw;
}

#goHome {
    position: fixed;
    top: 3%;
    left: 2%;
    z-index: 1;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
}

#goHome img {
    width: 100%;
    height: 100%;
}

#discover img {
    height: 100%;
    width: 100%;
}


#discover:hover {
    transition-duration: 1s;
    color: #303030;
    background: white;
}

/*section 1 styling*/

#section-1 {
    height: 100vh;
    width: 100vw;
}

#section1Bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

#section2Bg {
    width: 100%;
 
}



#section2Bg-1.scroll-anim {
    opacity: .9;
}

#secondaryImageDiv-s1 {
    position: absolute;
    bottom: 7%;
    right: 5%;
    width: 25%;
    z-index: 1;
    background-color: white;
    padding: .5%;
}

#secondaryImage-s1 {
    width: 100%;
    height: 100%;
}

.S2info-t {
    font-size: 50px;
    position: absolute;
    top: 12%;
    left: 58%;
}

.exits {
    font-size: 30px;
    float: right;
    padding: 2%;
    font-weight: bold;
}

.exits:hover {
    color: rgb(39, 126, 124);
    cursor: pointer;
}

#S2info-1 {
    position: absolute;
    width: 70vw;
    top: 10vh;
    height: 80vh;
    right: 15vw;
    background-color: white;
    display: none;
    z-index: 1;
}

#S2info-2 {
    position: absolute;
    width: 70vw;
    top: 10vh;
    height: 80vh;
    right: 15vw;
    background-color: white;
    display: none;
    z-index: 1;
}

#S2info-3 {
    position: absolute;
    width: 70vw;
    top: 10vh;
    height: 80vh;
    right: 15vw;
    background-color: white;
    display: none;
    z-index: 1;
}

#S2info-4 {
    position: absolute;
    width: 70vw;
    top: 10vh;
    height: 80vh;
    right: 15vw;
    background-color: white;
    display: none;
    z-index: 1;
}

#S2info-5 {
    position: absolute;
    width: 70vw;
    top: 10vh;
    height: 80vh;
    right: 15vw;
    background-color: white;
    display: none;
    z-index: 1;
}

.S2info-p {
    position: absolute;
    z-index: 1;
    font-size: 15px;
    text-align: left;
    top: 34%;
    left: 58%;
}

#S2btn-1 {
    width: 35px;
    height: 35px;
    background-color: rgb(39, 126, 124);
    color: white;
    left: 26vw;
    top: 12%;
    position: absolute;
    border-radius: 50%;
    border-width: 5px;
    border-color: solid white;
}

#S2btn-1:hover {
    background-color: white;
    cursor: pointer;
}

#S2btn-2 {
    width: 35px;
    height: 35px;
    background-color: rgb(39, 126, 124);
    left: 47%;
    top: 11%;
    position: absolute;
    border-radius: 50%;
    border-width: 5px;
}

#S2btn-2:hover {
    background-color: white;
    cursor: pointer;
}

#S2btn-3 {
    width: 35px;
    height: 35px;
    background-color: rgb(39, 126, 124);
    right: 22%;
    top: 9.5%;
    position: absolute;
    border-radius: 50%;
    border-width: 5px;
}

#S2btn-3:hover {
    background-color: white;
    cursor: pointer;
}

#S2btn-4 {
    width: 35px;
    height: 35px;
    background-color: rgb(39, 126, 124);
    left: 35%;
    top: 20%;
    position: absolute;
    border-radius: 50%;
    border-width: 5px;
}

#S2btn-4:hover {
    background-color: white;
    cursor: pointer;
}

#S2btn-5 {
    width: 35px;
    height: 35px;
    background-color: rgb(39, 126, 124);
    left: 10vw;
    top: 40vh;
    position: absolute;
    border-radius: 50%;
    border-width: 5px;
}

#S2btn-5:hover {
    background-color: white;
    cursor: pointer;
}

.secondaryImageDiv-s2 {
    position: absolute;
    top: 17%;
    left: 5%;
    width: 40%;
    z-index: 1;
    background-color: #505050;
    padding: .3%;
}

#secondaryImage-s2 {
    width: 100%;
    height: 100%;
}

#section-2 {
    width: 100vw;
}


#scrollerInfo {
 position: absolute;
 background-color: red;
 width: 100%;
 height: 50%;
 top: 25%;
 opacity: .2;
 justify-content: space-between;
 display: flex;
 flex-direction: column;
}

#infoDiv1 {
    background-color: orange;
    width: 100%;
    height: 30%;
    opacity: 0;
}

#infoDiv1.scroll-anim {
    transition-duration: 2s;
    opacity: 1;
}

#infoDiv2 {
    background-color: orange;
    width: 100%;
    height: 30%;
    opacity:0;
}

#infoDiv2.scroll-anim {
    transition-duration: 2s;
    opacity: 1;
}

#infoDiv3 {
    background-color: orange;
    width: 100%;
    height: 30%;
    opacity: 0;
}

#infoDiv3.scroll-anim {
    transition-duration: 2s;
    opacity: 1;
}

#tri1 {  width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;

}

#bottomGradient {
    bottom: 0;
    height: 25%;
    width: 100%;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 36%, rgba(255,255,255,0) 100%); 
}

#bottomDetails {
    height: 35%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: space-evenly;
}

.botbox {
    bottom: 0;
    width: 33%;
    height: 100%;
    background-color: blue;
    opacity: .5;
}


